<form action="/" class="username" id="username" method="post">
  <p>Enter your This Is My Jam
  <input id="username" name="username" placeholder="Username"></input></p><br />
  <input type="submit" value="Generate my playlist!" />
</form>