* {
  margin: 0;
}
html { height: 100%; }
body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

a:link {
  text-decoration: none; 
}
a:visited {
  text-decoration: none;
}
a:hover, a:active, a:focus { 
  text-decoration: none;
}

li {
  padding: 3px 0 0 0;
}

.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px; 
}

header {
  height: 80px;
  background: #000000;
  border-top: 2px solid yellow;
  color: #CCCCCC;
}

header a {
  color: #CCCCCC;
}

header h1 {
  margin: 0 20px;
  font-size: 38px;
  font-weight: 700;
}

header h4 {
  margin: 0 10px;
}

#main {
  margin: 0;
  padding: 0 0 60px;
}

#username {
  margin: 10px;
  text-align: center;
}

.user-input {
  height: 45px;
  font-size: 30px;
}

#loading {
  display: none;
}

.results {
  width: 1000px;
  margin: 5px auto;
}

.jams {
  float: left;
}

#jam-count {
  text-align: center;
  width: 480px;
  height: 60px;
  margin: 0 5px;
  border: 1px solid black;
  background: yellow;
}

#jams-found {
  width: 480px;
  margin: 0 5px;
  font-family: 'Inconsolata', sans-serif;
}

#jams-found ul {
  list-style: none;
  padding: 0 0 0 3px;
}

.playlist {
  float: left;
}

#copy {
  text-align: center;
  border: 1px solid black;
  background: yellow;
  width: 480px;
  height: 60px;
  margin: 0 5px;
}

#spotify {
  width: 480px;
  margin: 0 5px;
  font-family: 'Inconsolata', sans-serif;
}

#spotify ul {
  list-style: none;
  padding: 0 0 0 3px;
}

.push { height:60px;}

footer {
  height: 60px;
  background: yellow;
  text-align: center;
}

.submit {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffc2), color-stop(1, #ffff00) );
  background:-moz-linear-gradient( center top, #ffffc2 5%, #ffff00 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffc2', endColorstr='#ffff00');
  background-color:#ffffc2;
  -moz-border-radius:42px;
  -webkit-border-radius:42px;
  border-radius:42px;
  border:3px solid #c2c29b;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:28px;
  font-weight:bold;
  padding:16px 12px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
  cursor: pointer;
}.submit:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffff00), color-stop(1, #ffffc2) );
  background:-moz-linear-gradient( center top, #ffff00 5%, #ffffc2 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00', endColorstr='#ffffc2');
  background-color:#ffff00;
  cursor: pointer;
}.submit:active {
  position:relative;
  top:1px;
  cursor: pointer;
}